.form input {
  font-family: inherit;
  border: none;
  border-radius: 0.25em;
  padding: 0.25em 0.5rem;

  background-color: transparent;

  &:hover {
    background-color: #6666;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

section {
  display: flex;
  flex-direction: column;
}

.institution {
  display: flex;
  flex-wrap: wrap;
}

.item {
  border-radius: 0.5em;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #6666;
}
