.resume {
  --accent-color: #194b51;
  --resume-width: 400px;
  --stripe-width: 320px;
  --heading-bg-color: #d7e5e5;

  background-color: #ffffff;
  color: #000;
  font-size: 0.5rem;
  width: var(--resume-width);
  aspect-ratio: calc(1 / sqrt(2));
  border: 2px solid forestgreen;
}

main {
  width: var(--stripe-width);
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

header {
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;

    width: var(--resume-width);
    height: 100%;
    background-color: var(--accent-color);
    top: 0;
    left: calc((var(--stripe-width) - var(--resume-width)) / 2);
  }
}

header {
  color: white;
  padding: 2em 0;
  h1 {
    text-align: center;
  }
}

section > .heading {
  --buttom-column-size: 0px;
  display: grid;
  grid-template-columns: var(--buttom-column-size) min-content;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  color: var(--accent-color);
  text-align: center;
  background-color: var(--heading-bg-color);

  transition: grid-template-columns 500ms;
  &:hover {
    --buttom-column-size: 14px;
  }
}

section > .heading button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
  aspect-ratio: 1;
  width: 14px;
  height: 14px;
}

section > .heading {
  & button {
    color: inherit;
    background-color: transparent;
    opacity: 0;
    transition: background-color 200ms, opacity 200ms;
  }

  &:hover button {
    opacity: 1;
    background-color: #2250ad8d;
  }
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.education > ul,
.experience > ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 1em;

  & > li {
    display: grid;
    justify-items: start;
    gap: 0em 1em;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "date     org"
      "location role"
      ".        bullet";
    .organization {
      grid-area: org;
    }
    .role {
      grid-area: role;
    }
    .date {
      grid-area: date;
    }
    .location {
      grid-area: location;
    }
    .bullet {
      grid-area: bullet;
    }
  }
}

.resume input,
.resume textarea {
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  /* padding: 0.3em 0.2em 0.1em; */
  padding: 0;
  border: none;
  /* border-radius: 0.6em; */
  field-sizing: content;
  min-width: 0;
  outline-offset: 0.1em;
  overflow: scroll;
  border-color: #0000;

  transition: background-color 200ms;

  &:hover,
  &:focus {
    outline: 2px solid #6666;
    background-color: #00000081;
  }
}

section textarea {
  resize: none;
}

.education > ul ul,
.experience > ul ul {
  padding: 0;
  list-style-position: inside;

  button {
    background-color: inherit;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    padding: 0.3em 0.7em;
  }
}

.education > ul > li,
.experience > ul > li {
  &:hover {
    button {
      opacity: 1;
      min-height: 100px;
    }
  }

  ul {
    & > :last-child {
      border: 1px solid red;
      display: grid;
      grid-template-rows: 0fr;
      opacity: 0;
      transition: grid-template-rows ease-out 500ms, opacity 500ms;

      > * {
        min-height: 0;
      }
    }

    &:hover > :last-child {
      opacity: 1;
      grid-template-rows: 1fr;
    }
  }

  button {
    transition: min-height 500ms, opacity 500ms;
    opacity: 0;
    min-height: 0;
    flex-shrink: 1;
    flex-basis: 0;
  }
}
