.resume {
  --accent-color: #194b51;
  --resume-width: 400px;
  --stripe-width: 320px;
  --heading-bg-color: #d7e5e5;

  font-family: "Times New Roman", Times, serif;

  background-color: #ffffff;
  color: #000;
  font-size: 0.5rem;
  width: var(--resume-width);
  aspect-ratio: calc(1 / sqrt(2));
  border: 2px solid forestgreen;
}

main {
  border: 1px solid red;
  width: var(--stripe-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  padding: 4em 4em 0em 4em;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
  .email,
  .phone {
    justify-self: end;
  }
}

header h1 {
  font-size: 1.1rem;
  font-weight: bold;
}

section > .heading {
  font-weight: normal;
  border-bottom: 0.5px solid rgb(0, 0, 0);
}

section > .heading,
.item {
  & button {
    padding: 0;
  }

  & button {
    color: inherit;
    background-color: transparent;
    opacity: 0;
    transition: background-color 200ms, opacity 200ms;
  }

  &:hover button {
    opacity: 1;

    &:hover {
      background-color: #2250ad8d;
    }
  }
}

.item {
  & .bullet > span {
    opacity: 1;
    transition: opacity 200ms;
  }

  &:hover .bullet > span {
    opacity: 0;
  }
}



.item {
  display: grid;
  justify-items: start;
  align-items: baseline;
  grid-template-columns: min-content max-content 2fr max-content;
  grid-template-areas:
    "bullet org    add    location"
    ".      role   add    date"
    ".      tasks  tasks  tasks";
  .organization {
    grid-area: org;
  }
  .role {
    grid-area: role;
  }
  .date {
    grid-area: date;
  }
  .location {
    grid-area: location;
  }
  .tasks {
    grid-area: tasks;
  }
  .add {
    grid-area: add;
    align-self: center;
  }
  .bullet {
    grid-area: bullet;
    justify-self: center;
  }

  .date,
  .location {
    justify-self: end;
  }
}

.resume input {
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  border: none;
  padding: 0;
  min-width: 0;

  field-sizing: content;

  /* padding: 0.3em 0.2em 0.1em; */
  /* border-radius: 0.6em; */

  transition: background-color 200ms;

  &:hover,
  &:focus {
    outline: 2px solid #6666;
    background-color: #00000081;
  }
}

.resume ul {
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;

  li .bullet {
    margin-right: 1em;
  }
}

.bullet {
  position: relative;
  button {
    position: absolute;
  }
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}