.resume {
  --accent-color: #194b51;
  --resume-width: 400px;
  --stripe-width: 320px;
  --heading-bg-color: #d7e5e5;
  --hover-color: #2250ad69;
  --border-hover-color: #646cff;
}

.resume header > h1 {
  font-size: 1.1rem;
  font-weight: bold;
}

.resume section > .heading {
  font-weight: normal;
  border-bottom: 0.5px solid #000;
}

/* Layout */
.resume {
  aspect-ratio: calc(1 / sqrt(2));
  width: var(--stripe-width);
  margin: 0 auto;

  padding: 4em 4em 0em 4em;
  display: flex;
  flex-direction: column;
}

.resume header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
  .email,
  .phone {
    justify-self: end;
  }
}

.resume .item {
  display: grid;
  justify-items: start;
  align-items: baseline;
  grid-template-columns: min-content max-content 2fr max-content;
  grid-template-areas:
    "bullet org    add    location"
    ".      role   add    date"
    ".      tasks  tasks  tasks";
  .organization {
    grid-area: org;
  }
  .role {
    grid-area: role;
  }
  .date {
    grid-area: date;
  }
  .location {
    grid-area: location;
  }
  .tasks {
    grid-area: tasks;
  }
  .add {
    grid-area: add;
    align-self: center;
  }
  > .bullet {
    grid-area: bullet;
  }

  .date,
  .location {
    justify-self: end;
  }
}

.bullet {
  margin-right: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

  position: relative;

  button {
    left: -0.4em;
    position: absolute;
  }
}

/* Styling */
.resume {
  font-family: "Times New Roman", Times, serif;
  background-color: #ffffff;
  color: #000;
  font-size: 0.5rem;

  border: 2px solid forestgreen;
}

.resume button {
  color: inherit;
  background-color: transparent;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 0.25em;
  line-height: 0;
}

.resume input {
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  border: none;
  padding: 0;
  min-width: 0;

  field-sizing: content;

  border-radius: 1px;
  outline: 1.5px solid transparent;
}

.resume ul {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

/* Interactivity */

.resume button {
  transition: background-color 300ms, opacity 300ms;
  opacity: 0;
}

.resume button:hover {
  background-color: var(--hover-color);
}

.resume input {
  transition: background-color 300ms, outline-color 300ms;

  &:hover,
  &:focus {
    background-color: var(--hover-color);
    outline-color: var(--border-hover-color);
  }

  &:focus {
    outline-color: #000;
  }
}

.resume section:hover > .heading button,
.resume .item:hover > button {
  opacity: 1;
}

.bullet > div {
  opacity: 1;
  transition: opacity 200ms;
}

.resume :has(.bullet):hover > .bullet {
  button {
    opacity: 1;
  }

  div {
    opacity: 0;
    visibility: hidden;
  }
}

.resume button:focus {
  opacity: 1;
}

.resume button:focus + div {
  opacity: 0;
  visibility: hidden;
}
