.resume {
  --accent-color: #194b51;
  --heading-bg-color: #d7e5e5;
  --hover-color: #2250ad69;
  --border-hover-color: #646cff;
  --background-color: #fff;
  --font-color: #000;
}

.resume header > h1 {
  font-size: 1.1rem;
  font-weight: bold;
}

.resume section > .heading {
  font-weight: normal;
  border-bottom: 0.5px solid var(--font-color);
}

/* Layout */
.resume {
  aspect-ratio: calc(1 / sqrt(2));
  width: var(--resume-width);
  margin: 0 auto;

  padding: 4em 4em 0em 4em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.resume header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "author  email"
    "website phone";
  align-items: baseline;

  > .author {
    grid-area: author;
  }
  > .email {
    grid-area: email;
  }
  > .website {
    grid-area: website;
  }
  > .phone {
    grid-area: phone;
  }

  .email,
  .phone {
    justify-self: end;
  }
}

.resume .item {
  display: grid;
  justify-items: start;
  align-items: baseline;
  grid-template-columns: min-content max-content 2fr max-content;
  grid-template-areas:
    "bullet org    add    location"
    ".      role   add    date"
    ".      tasks  tasks  tasks";
  .organization {
    grid-area: org;
  }
  .role {
    grid-area: role;
  }
  .date {
    grid-area: date;
  }
  .location {
    grid-area: location;
  }
  .tasks {
    grid-area: tasks;
  }
  .add {
    grid-area: add;
    align-self: center;
  }
  > .bullet {
    grid-area: bullet;
  }

  .date,
  .location {
    justify-self: end;
  }
}

.bullet {
  margin-right: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

  position: relative;

  button {
    left: -0.4em;
    position: absolute;
  }
}

.resume .heading {
  margin-bottom: 0.25em;
}

.resume .item {
  margin-bottom: 0em;
}

.resume .add-button {
  margin-left: 0.5em;
}

/* Styling */
.resume {
  font-family: "Times New Roman", Times, serif;

  color: var(--font-color);
  background-color: var(--background-color);
  font-size: 0.5rem;
}

.resume.editing {
  --font-color: #eee;
  --background-color: #292929;
}

.resume button {
  color: inherit;
  background-color: transparent;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 0.25em;
  line-height: 0;
}

.resume input {
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  border: none;
  padding: 0;
  min-width: 0;
  display: inline;

  field-sizing: content;

  border-radius: 1px;
  outline: 1.5px solid transparent;
}

.resume span {
  padding: 0;
  margin: 0;
  line-height: 0;
}

.resume ul {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.resume .bold {
  font-weight: bold;
}

.resume .italic {
  font-style: italic;
}

/* Interactivity */

.resume {
  transition: background-color 500ms, color 500ms;

  .heading {
    transition: border-color 500ms;
  }
}

.resume button {
  transition: background-color 300ms, opacity 300ms;
  opacity: 0;
}

.resume button:hover {
  background-color: var(--hover-color);
}

.resume input {
  transition: background-color 300ms, outline-color 300ms;

  &:hover,
  &:focus {
    background-color: var(--hover-color);
    outline-color: var(--border-hover-color);
  }

  &:focus {
    outline-color: var(--font-color);
  }
}

.resume section:hover > .heading button,
.resume .item:hover > button {
  opacity: 1;
}

.bullet > div {
  opacity: 1;
  transition: opacity 200ms;
}

.resume :has(.bullet):hover > .bullet button {
  opacity: 1;
}

.resume.editing :has(.bullet):hover > .bullet div {
  opacity: 0;
  visibility: hidden;
}

.resume button:focus {
  opacity: 1;
}

.resume button:focus + div {
  opacity: 0;
  visibility: hidden;
}
