html,
body {
  height: 100%;
}

#root {
  margin: 0 auto;
  --resume-width: 320px;
  --width-scale-factor: calc(90vw / var(--resume-width));
  --heigth-scale-factor: calc(90vh / (var(--resume-width) * sqrt(2)));
  --scale-factor: min(var(--width-scale-factor), var(--heigth-scale-factor));
  transform: scale(var(--scale-factor));
}

body {
  max-width: 100vw;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resume {
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.8);
}

.menu {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 0.6rem;
  margin-bottom: 1em;
}
